* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
}


.flyer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    size: 60%;
}
h2
 {
  color: azure;
  text-align: center; 
}
div {
    color: azure;
    text-align: center;
}
button {
    background-color: azure;
    padding: 5px;
    border-radius: 5px;

}
button:hover {
    background-color: rgba(195, 223, 223, 0.63);
    color: azure;
    position: relative;
}
footer {
    padding: 10px;
}