* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
}

.flyer {
    display: block;
    margin-left: auto;
    margin-right:auto;
    width: 800px;
}

h1 {
    color: azure;
    text-align: center;
    font-size: 25px;
}
div {
    color: azure;
    text-align: center;
}

section {
    display: flex;
    position: relative;
    top: auto;
    text-align: center;
    color: azure;
    height: 400px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    left: 30px;
}
article.rsvp {
    width: 400px;
    height: 400px;
    margin: 5px;
}

article.cashapp {
    width: 400px;
    height: 400px;
    margin: 5px;
    
}

img.cashapp {
    width: 200px;
    margin-left:auto;
    margin-right: auto;

}

button {
    background-color: black;
    height:50px;
    width: 200px;
    border-color: rgba(190, 144, 27, 0.63);
    border-radius: 5px;
    color: rgba(177, 136, 33, 0.767);
    margin-top: 120px;
}

button:hover {
    background-color: rgba(58, 58, 58, 0.692);
    color: azure;
    position: relative;
}

div.food {
    padding-top: 15px;
    font-size: 17px;
}